.NavigationItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    
}

.NavigationItem a {
    color: #8f5c2c;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
    display: block;

}

.NavigationItem a:active,
.NavigationItem a:hover,
.NavigationItem a.active{
color: #40a4c8;
}


@media(min-width: 500px){
    .NavigationItem{
        margin: 0;
        width: auto;
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 5px;
        
    }
    
    .NavigationItem a {
        height: 100%;
        padding: 16px 10px;
        color: ivory;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:active,
    .NavigationItem a:hover,
    .NavigationItem a.active{
    background-color: hsl(9, 47%, 43%);
    border-bottom: 4px solid #40a4c8;
    color: thistle;
    }
}